{% extends 'base.html.twig' %}

{% block body %}

    <p>still working ?</p>


{#    <div id="search">#}
{#        <h4>Search an Item</h4>#}
{#        <form action="" method="POST">#}
{#            <div>#}
{#                <label for="quest"></label>#}
{#                <input id="quest" type="search" class="form-control mr-sm-2" name="quest"#}
{#                       placeholder="what is your name ?" required>#}
{#            </div>#}
{#            <div>#}
{#                <label for="category"></label>#}
{#                <select class="form-control mr-sm-2" id="category" name="category" required>#}
{#                    <option value="" selected>what is your quest ?</option>#}
{#                    <option value="artist">Band / Artist</option>#}
{#                    <option value="title">Title</option>#}
{#                    <option value="label">Label</option>#}
{#                    <option value="comments">Comments</option>#}
{#                </select>#}
{#            </div>#}
{#            <div>#}
{#                <label for="page"></label>#}
{#                <select class="form-control mr-sm-2" id="page" name="page" required>#}
{#                    <option value="" selected>what is your favorite color ?</option>#}
{#                    <option value="allItems">All Items</option>#}
{#                    <option value="sold">Sold Items</option>#}
{#                    <option value="forSale">Items For Sale</option>#}
{#                </select>#}
{#            </div>#}
{#            <br>#}
{#            <input class="form-control mr-sm-2" type="submit" name="ok" value="Right, off you go">#}
{#        </form>#}
{#    </div>#}

    <p>//todo : un vrai formulaire</p>





{% endblock %}

{% block title %}{{ parent() }} | Test{% endblock %}

