/* specificity : 0.0.1*/
h4 {
    color: #0056b3;
}

/* specificity : 0.0.1*/
summary {
    list-style: none;
}

/* specificity : 0.0.1*/
footer {
    font-size: small;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    text-align: center;
}


/* specificity : 0.0.2, 0.0.2*/
h4 span, p span {
    font-weight: bold;
}

/* specificity : 0.0.2*/
td img {
    height: 5rem;
}

/* specificity : 0.0.1, 0.0.2*/
input, footer input {
    font-size: large;
}


/* specificity : 0.1.0*/
.bg-dark {
    background-color: #343a40 !important;
}

/* specificity : 0.1.0*/
.flash {
    padding: 20px;
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #FFF;
}

/* specificity : 0.1.0*/
.flash-success {
    background-color: #6b9311;
}

/* specificity : 0.1.0*/
.flash-error {
    background-color: #AA3333;
}


/* specificity : 0.1.0, 0.1.0, 0.1.1*/
.itemInfo, .collValue, .orderInfo h5 {
    font-size: small;
}

/* specificity : 0.0.1, 0.0.2, 0.0.2, 0.0.2, 0.1.1*/
a, h5 a, table a, footer a, .navbar a {
    text-decoration: none;
    color: inherit;
}

/* specificity : 0.1.1*/
.thead-dark tr {
    background: #343a40;
    color: #ffffff;
}

/* specificity : 0.1.1*/
input[type=submit] {
    width: 100%;
    background-color: #0069d9;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* specificity : 0.1.1*/
.itemInfo p {
    background-color: #fafafa;
    padding: 2px 6px;
    margin: 0;
}


/* specificity : 0.1.2*/
nav .d-flex a {
    color: #ffffff;
}


/* specificity : 0.2.0*/
.dropdown-menu.show {
    background-color: #343a40;
    color: #ffffff;
}


/* specificity : 0.1.1, 0.1.2, 0.1.2, 0.1.2, 0.2.1*/
a:hover, h5 a:hover, table a:hover, footer a:hover, .navbar a:hover {
    text-decoration: underline;
    color: inherit;
}

/* specificity : 0.2.1*/
a.dropdown-item:hover {
    background-color: inherit;
}


/* specificity : 0.2.2*/
nav .d-flex a:hover {
    color: #ffffff;
}


/* specificity : 0.2.2*/
.table-hover tr:hover td {
    background-color: #c8c7c7;
    opacity: .6;
}

/* specificity : 0.2.2*/
.pagination .active {
    font-weight: bold;
}
