{% extends 'base.html.twig' %}

{% block body %}

    <h4>Order Item # {{ orderitem.itemId }}</h4>
    <p>{{ orderitem.description }}</p>

{% endblock %}

{% block title %}
    {{ parent() }} | {{ orderitem.description }}
{% endblock %}