{% extends 'base.html.twig' %}

{% block body %}

    {% for month in months %}
        <p>
            <a href="{{ path('order_month', {'monthName': month.name}) }}">
                {{ month.name }}
            </a>
        </p>

    {% endfor %}

{% endblock %}

{% block title %}

{% endblock %}

