{% extends 'base.html.twig' %}

{% block body %}

    {% for month in periodMonths %}
        <p>
            <a href="{{ path('order_month', {'monthName' : month.name}) }}">{{ month.name }}</a> :
        {% if nbOrdersByMonth[month.name] is defined %}
            {% if nbOrdersByMonth[month.name] == 1 %}
                1 order
            {% else %}
                {{ nbOrdersByMonth[month.name] }} orders
            {% endif %}
        {% else %}
            none
        {% endif %}
        </p>
    {% endfor %}

{% endblock %}

{% block title %}

{% endblock %}

