{% extends 'base.html.twig' %}

{% block body %}

    {% for month in months %}
        <p>
            {{ month.month }} : {{ month.Nb }} orders
        </p>
    {% endfor %}

{% endblock %}

{% block title %}

{% endblock %}

