{% extends 'base.html.twig' %}

{% block body %}
    <p>ok !</p>
    <p>check your DB !!!</p>
    <p>( et n'oublie pas d'enlever ce dump($item) )</p>
{% endblock %}

{% block title %}

{% endblock %}

