<nav class="navbar sticky-top navbar-expand navbar-dark bg-dark row">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{path('item_list') }}">Inventory</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{path('order_list') }}">Orders</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="">New order</a>
                    <a class="dropdown-item" href="{{path('item_add') }}">New item</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="">Best orders</a>
                    <a class="dropdown-item" href="">Best bands / artists</a>
                    <a class="dropdown-item" href="">Best labels</a>
                    <a class="dropdown-item" href="">Best countries</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="?search">Search</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="">All users</a>
                </div>
            </li>
        </ul>
        <form class="d-flex">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>
</nav>