{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(registerForm) }}
    {{ form_widget(registerForm) }}
    <button type="submit">Register !</button>
    {{ form_end(registerForm) }}
{% endblock %}

{% block title %}
    {{ parent() }} | Register
{% endblock %}

